# Windows
Thumbs.db
Desktop.ini

# Editor
.vscode/

# Git
.git/

# Temporary files
*.tmp
*.bak

# Large local video files
videos/*.mp4
videos/**/*.mp4

# Web compression test folder
videos_web/

!videos/hero_sec.mp4

!videos/영상 6개/collosseum_web.mp4
!videos/Animating_panoramic_LEGO_world_web.mp4
